:root {
    --green: rgba(67, 114, 38, 1);
    --green-t: rgba(67, 114, 38, 0.15);
  }

body {
    color: var(--green);
    font-family: 'Barlow Semi Condensed', sans-serif;
}

/* h1 {
    font-size: 40px;
} */

h4 {
    /* font-size: 20px; */
    color: black;
}

.navbar {
    background-color: var(--green-t);
}

.active {
    background-color: var(--green-t);
}

li.nav-item {
    margin-bottom: -25px;
}

.n-text {
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 10px;
    color: var(--green);
    /* font-size: 30px; */
}

#buffer {
    height: 5vh;
    width: 100%;
    background-color: var(--green-t);
}

#name {
    position: absolute;
    height: 20vw;
    padding-top: 1.5vh;
    padding-left: 10%;
    background-color: var(--green-t);
}

.indent {
    padding-left: 13%;
}


.carousel {
    margin-left: 20px;
    margin-bottom: 20px;
}

.carousel-inner> .carousel-item.carousel-item-next ,
.carousel-inner > .carousel-item.active.carousel-item-right{ 
    transform: translate3d(0, 100%, 0);
}
.carousel-inner > .carousel-item.carousel-item-prev ,
.carousel-inner > .carousel-item.active.carousel-item-left{ 
    transform: translate3d(0,-100%, 0);
}
.carousel-inner > .carousel-item.next.carousel-item-left ,
.carousel-inner > .carousel-item.carousel-item-prev.carousel-item-right ,
.carousel-inner > .carousel-item.active{
    transform:translate3d(0,0,0);
}

img {
    max-height: 50vw;
    max-width: 50vw;
}

p {
    max-width: 50vw;
}