:root {
    --green: rgba(67, 114, 38, 1);
    --green-t: rgba(67, 114, 38, 0.15);
  }

body {
    color: var(--green);
    font-family: 'Barlow Semi Condensed', sans-serif;
}

h1 {
    font-size: 40px;
}

h4 {
    font-size: 20px;
    color: black;
}

.navbar {
    background-color: var(--green-t);
}

.active {
    background-color: var(--green-t);
}

li.nav-item {
    margin-bottom: -25px;
}

.n-text {
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 10px;
    color: var(--green);
    font-size: 30px;
}

#buffer {
    height: 5vh;
    width: 100%;
    background-color: var(--green-t);
}

#name {
    position: absolute;
    height: 25vh;
    padding-top: 1.5vh;
    padding-left: 10%;
    background-color: var(--green-t);
}

.indent {
    padding-left: 13%;
}

.carousel {
    padding: 20px;
    max-width: 400px;
    
    border-color: black;
}

img {
    max-height: 400px;
}
